@page "/rijeseniZadatci"
@using ZavrsniSeminar.Models;
@inject HttpClient httpClient;
@inject NavigationManager navManager;



<p class="fs-2">  Riješeni zadatci  <button type="button" class="btn btn-primary" @onclick="Natrag">Natrag</button> </p>


 @if (IsError==true)
{
    <p>Nešto je pošlo po krivu,kontaktirajte administratora!</p>
}

<form>
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Id</th>
                <th scope="col">Zadatak</th>
                <th scope="col">Radnik ime</th>
                <th scope="col">Radnik prezime</th>
                <th scope="col">Opis posla</th>
                <th scope="col">Datum</th>
                <th colspan="3">Riješeno</th>
            </tr>
        </thead>
        @foreach (var item in radniZadataks)
        {
            <tbody>
                 <tr class="text-decoration-line-through">
                    <td> @item.Id</td>
                    <td> @item.Todo</td>
                    <td> @item.RadnikIme</td>
                    <td> @item.RadnikPrezime</td>
                    <td> @item.OpisPosla</td>
                    <td> @item.Datum</td>
                    <td> <button type="button" class="btn btn-primary" @onclick="()=>Obrisi(item.Id)">Obriši</button> </td>
                </tr>
            </tbody>
        }
    </table>
  
</form>




@code {
    public int Id { get; set; }
    public bool IsDone = true;
    public bool IsError = false;
    public List<RadniZadatak> radniZadataks = new List<RadniZadatak>();


    protected override async Task OnInitializedAsync()   /* dohvacanje cijele liste iz Apija bez riješenih  */
    {
        var result = await httpClient.GetAsync("https://expertvjezbeapi.azurewebsites.net/api/ToDoSeminars");
        if (result.IsSuccessStatusCode)
        {
            radniZadataks = await result.Content.ReadFromJsonAsync<List<RadniZadatak>>();
            radniZadataks = radniZadataks.OrderByDescending(x => x.Datum).Where(x => x.IsDone == true).ToList();    /* po zadnje dodanom datumu */
        }

    }



    public void Obrisi(int id)
    {
        navManager.NavigateTo($"/delete/{id}");
    }
  
    public void Natrag()
    {
        navManager.NavigateTo($"/");
    }
}